<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag url_for(project.main_image), class: "bd-placeholder-img card-img-top", width: "100%", height: "225" %>
              <div class="card-body">
                <p class="card-title"><%= project.title %></p>
                <p class="card-text"><%= project.short_blurb %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">詳細</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</main>
